services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-network

  kafka1:
    image: confluentinc/cp-kafka:7.0.1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:19092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka1:19092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-network
    restart: always
    depends_on:
      - zookeeper

  kafka2:
    image: confluentinc/cp-kafka:7.0.1
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:19093,EXTERNAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka2:19093,EXTERNAL://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-network
    restart: always
    depends_on:
      - zookeeper

  kafka3:
    image: confluentinc/cp-kafka:7.0.1
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:19094,EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka3:19094,EXTERNAL://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-network
    restart: always
    depends_on:
      - zookeeper

  init-kafka:
    image: confluentinc/cp-kafka:7.0.1
    depends_on:
      - kafka1
      - kafka2
      - kafka3
      - zookeeper
    networks:
      - kafka-network
    env_file:
      - ./env.example
    entrypoint: [ '/bin/bash', '-c' ]
    command: >
      "
      until /usr/bin/kafka-topics --bootstrap-server kafka1:19092 --list > /dev/null 2>&1; do sleep 1; done;
      echo 'Creating Kafka topics...';
      for t in messages filtered_messages blocked_users banned_words; do
        echo \"Creating topic: $$t\";
        /usr/bin/kafka-topics --bootstrap-server kafka1:19092,kafka2:19093,kafka3:19094 \\
        --create --topic $$t \\
        --partitions 3 --replication-factor 2 --if-not-exists \\
        --config retention.ms=259200000 \\
        --config retention.bytes=10737418240 || true;
        echo \"Topic $$t is ready!\";
      done;
      echo 'All topics created successfully!';
      "

  ui:
    image: provectuslabs/kafka-ui
    depends_on: 
      init-kafka:
        condition: service_completed_successfully
    networks:
      - kafka-network
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka1:19092,kafka2:19093,kafka3:19094
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
      KAFKA_CLUSTERS_0_KSQLDBSERVER: http://ksqldb-server:8088

  faust:
    build: ./stream_handler/
    depends_on: 
      init-kafka:
        condition: service_completed_successfully
    env_file:
      - ./env.example
    ports:
      - "6066:6066"
    networks:
      - kafka-network
    command: faust -A app.main:app worker -l info --web-port=6066

  ksqldb-server:
    image: confluentinc/ksqldb-server:latest
    depends_on:
      - kafka1
      - kafka2
      - kafka3
      - zookeeper
    environment:
      KSQL_BOOTSTRAP_SERVERS: kafka1:19092,kafka2:19093,kafka3:19094
    ports:
      - "8088:8088"
    networks:
      - kafka-network 

  ksqldb-cli:
    image: confluentinc/ksqldb-cli:latest
    depends_on:
      - ksqldb-server
    entrypoint: /bin/sh -c 'exec ksql http://ksqldb-server:8088'
    stdin_open: true
    tty: true
    networks:
      - kafka-network 

  init-ksqldb:
    image: confluentinc/ksqldb-cli:latest
    depends_on:
      - ksqldb-server
    networks:
      - kafka-network
    volumes:
      - ./init-ksqldb.sh:/tmp/init-ksqldb.sh
    entrypoint: ['/bin/bash', '/tmp/init-ksqldb.sh']

networks:
  kafka-network:
    driver: bridge